*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  
    
}
body{
    background-color: black;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)),url(pexels-photo.jpg);
    background-size: cover;
    background-position: center;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.content{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;   
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
text-align: center;
color: #fff;
display: inline-flex;
}
.content .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.content .dynamic-txt{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

}
.dynamic-txt li{
    color: #fff;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 1.5s steps(4) infinite;

}
@keyframes slide{
    100%{
        top: -360px;
        
    }
}



.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li span::after{
    content:"";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%; 
   
    animation: typing 5.5s steps(10) infinite;

}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.sec{
    position: relative;
    padding: 2px;
    background: #000000;
    }
    .me{
    
        clip-path: circle();
        border-radius: 50%;
        border: 12px solid #fff
    }
    
    
    .sec h2{
        font-size: 3.5cm;
        margin-bottom: 10px;
        color:#fff;
    
    }
